################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DFileServer-VS/.vs/DFileServer-VS
/DFileServer-VS/x64/Debug
/DFileServer-VS/DFileServer-VS/x64/Debug
/DFileServer-VS/x64/Release
/DFileServer-VS/DFileServer-VS/x64/Release/DFileServer-VS.tlog
/DFileServer-VS/DFileServer-VS/x64/Release
/DFileServer-VS/DFileServer-VS/x64/Debug-NoSSL
/DFileServer-VS/x64/Debug-NoSSL
/DFileServer-VS/DFileServer-VS/x64/Release-NoSSL
/DFileServer-VS/.vs/CopilotSnapshots/7149095F0A3B494C83AC068F4518BB60
/DFileServer-VS/x64/Release-NoSSL
