################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DFileServer-VS/.vs/DFileServer-VS
/DFileServer-VS/x64/Debug
/DFileServer-VS/DFileServer-VS/x64/Debug
/DFileServer-VS/x64/Release
/DFileServer-VS/DFileServer-VS/x64/Release/DFileServer-VS.tlog
/DFileServer-VS/DFileServer-VS/x64/Release
