################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DFileServer-VS/.vs/DFileServer-VS
/DFileServer-VS/x64/Debug
/DFileServer-VS/DFileServer-VS/x64/Debug
/DFileServer-VS/x64/Release
/DFileServer-VS/DFileServer-VS/x64/Release/DFileServer-VS.tlog
/DFileServer-VS/DFileServer-VS/x64/Release
/DFileServer-VS/DFileServer-VS/x64/Debug-NoSSL
/DFileServer-VS/x64/Debug-NoSSL
/DFileServer-VS/DFileServer-VS/x64/Release-NoSSL
/DFileServer-2-1-0-NOSSL.zip
/DFileServer-2-1-0.zip
/DFileServer-VS/x64/Release-NoSSL
/DFileServer-VS/x64/Release-NoSSL/DFileServer-VS.exe
/DFileServer-VS/x64/Release-NoSSL/DFileServer-VS.pdb
/DFileServer.exe
